@mixin sharedStyle {
    display: flex;
    align-items: center;

    input {
        font-family: var(--sans-serif);
        font-size: 16px;
        margin: 0 0 0 16px;
        padding: 10px 0;
        border: none;
        background-color: transparent;
        outline: none;
        color: var(--very-dark-blue);
        caret-color: var(--violet);
    
        &::placeholder {
            color: var(--very-dark-blue);
            opacity: 50%;
        }
    }
}

.title-search {
    @include sharedStyle();
    justify-content: left;
    width: 55%;

    input {
        width: 70%;
    }
}

.location-search {
    @include sharedStyle();
    height: 100%;
    border-left: 1px solid rgba(110, 128, 152, .2);
    border-right: 1px solid rgba(110, 128, 152, .2);
    padding-left: 23px;
}

@media only screen and (min-width: 768px) {
    .title-search {
        width: 32.22%;
        justify-content: center;

        input {
            width: 71.3%;
        }
    }
    .location-search {
        width: 27.43%;
        justify-content: center;

        input {
            width: 73.23%;
        }
    }
}

@media only screen and (min-width: 1280px) {
    .title-search {
        width: auto;
        
        input {
            width: 375px
        }
    }
    .location-search {
        width: auto;

        input {
            width: 245px;
        }
    }
}