@mixin list() {
    counter-reset: custom-counter;
    list-style: none;
    margin: 20px 0 0 0;

    li {
        line-height: 26px;
        margin: 4px 0;
        color: var(--dark-grey);
        counter-increment: custom-counter;

        &:before {
            position: absolute;
            color: var(--violet);
            transform: translateX(-30px);
        }
    }
}

.info {    
    h3 {
        margin: 30px 0;
    }
    
    ol  {
        @include list();
    
        li:before {
            content: counter(custom-counter);
            font-weight: 700;
        }
    }
    
    ul {
        @include list();
    
        li:before {
            content: '•';
        }
    }
}