.btn {
    background-color: var(--violet);
    color: white;
    font-family: var(--sans-serif);
    font-size: 16px;
    font-weight: 700;
    padding: 16px 21px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover {
        background-color: var(--light-violet);
    }
}

.search-btn {
    padding: 14px;
    font-size: 0;
    line-height: 0;

    @media only screen and (min-width: 768px) {
        padding: 16px 14px;
        font-size: 16px;
        line-height: normal;
    }
    @media only screen and (min-width: 1280px) {
        padding: 16px 35px;
    }
}

.inverted {
    background-color: rgba(89, 100, 224, .1);
    color: var(--violet);

    &:hover {
        background-color: rgba(89, 100, 224, .35)
    }
}