.slider-container {
    display: flex;
    align-items: center;

    .slider {
        width: 38px;
        height: 14px;
        padding: 5px;
        margin: 0 16px;
        border-radius: 12px;
        background-color: white;
        cursor: pointer;

        &:hover {
            .dot {
                background-color: var(--light-violet);
            }
        }
        
        .dot {
            width: 14px;
            height: 14px;
            background-color: var(--violet);
            border-radius: 50%;
            transition: all .2s ease-in-out;
        }

        .light {
            transform: translateX(0px);
        }

        .dark {
            transform: translateX(24px);
        }
    }
}