.slider-container {
    display: flex;
    align-items: center;

    .slider {
        width: 38px;
        height: 14px;
        padding: 5px;
        margin: 0 16px;
        border-radius: 12px;
        background-color: white;
        cursor: pointer;
        
        .dot {
            width: 14px;
            height: 14px;
            background-color: blue;
            border-radius: 50%;
        }
    }
}