.header {
    width: 100%;
    height: 104px;
    background: url('../../assets/mobile/bg-pattern-header.svg'), var(--violet);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 32px 0 0 0;


    .header-content {
        width: 327px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;

        .header-title {
            font-size: 28px;
            margin: 0;
            color: white;
        }

        @media only screen and (min-width: 768px) {
            width: 689px;
        }
        @media only screen and (min-width: 1280px) {
            width: 1110px;
        }
    }

    @media only screen and (min-width: 768px) {
        background: url('../../assets/tablet/bg-pattern-header.svg'), var(--violet);
        height: 115px;
        padding: 45px 0 0 0;
        border-radius: 0 0 0 105px;
    }

    @media only screen and (min-width: 1280px) {
        background: url('../../assets/desktop/bg-pattern-header.svg'), var(--violet);
    }
}