@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

:root {
  --violet: #5964E0;
  --light-violet: #939BF4;
  --very-dark-blue: #19202D;
  --midnight: #121721;
  --white: #ffffff;
  --light-grey: #F4F6F8;
  --grey: #9DAEC2;
  --dark-grey: #6E8098;
  --width: 87.2%;
  --sans-serif: 'Kumbh Sans', sans-serif;

  @media only screen and (min-width: 768px) {
    --width: 689px;
  }
  @media only screen and (min-width: 1280px) {
    --width: 1110px;
  }
}

body {
  background-color: var(--light-grey);
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
